docs/awards/awards_panda.pptx
docs/awards/awards_panda_copy.pptx
docs/awards/awards_panda_new.pptx
docs/awards/awards_panda_new_new.pptx
docs/awards/awards_panda-JM-T480.pptx
docs/awards/awards_panda-mocaPC.pptx
docs/awards/資料/auto_app.mp4
docs/awards/資料/auto_rover.MP4
docs/awards/資料/manual_app.mp4
docs/awards/資料/manual_rover.MP4
docs/awards/資料/out.mp4
docs/最終提出資料/pic/Screen_Recording_20220120-180638_Chrome.mp4
docs/最終提出資料/pic/アプリデモ.mp4
docs/最終提出資料/pic/手動アプリ.mp4
docs/最終提出資料/pic/手動走行ローバ.mp4
docs/最終発表/panda_展示_低品質.mp4
docs/最終発表/プロ演発表_panda.pptx
docs/最終発表/最終発表_220125.pptx
docs/最終発表/最終発表_展示.pptx
pic/130YAPHH/S1300001.MP4
pic/130YAPHH/S1300003.MP4
pic/130YAPHH/S1300004.MP4
pic/130YAPHH/S1300005.MP4
pic/130YAPHH/S1300006.MP4
pic/130YAPHH/S1300007.MP4
pic/130YAPHH/動作OK操作画面NG.MP4
