#.gitignore
app/consapp/pos2kml/gcc/pos2kml
app/consapp/str2str/gcc/str2str
app/consapp/rtkrcv/gcc/rtkrcv
app/consapp/convbin/gcc/convbin
app/consapp/rtkrcv/gcc/rtkrcv.nav
app/consapp/rnx2rtkp/gcc/rnx2rtkp
*.a

*.o
*.d
*.obs
*.ini
*.local
Release
Release_Build
Debug
Debug_Build
__history
__astcache
